html {
  margin: 0;
  padding: 0;
  background-color: #1E1C26;
  color: #444;
}

/* body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #aaa;
} */

body {
  margin: 0;
  padding: 0;
  /* background-image: url("bg.jpg"); */
  background-image: url("bathing-background.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.svgContainer {
  max-width: 100%;
  max-height: 100%;
  /* background:transparent url('/images/trans-bg.png') repeat center top; */
  /* background-color: #999; */
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* align: center; */
}


#myTitle {
  /* font-family: "DFKai-SB", "STKaiti", "Impact"; */
  /* font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif; */

  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  font-size: 1.3em;
  max-width: 100%;
  max-height: 100%;
  /* background:transparent url('/images/trans-bg.png') repeat center top; */

  /* background-color: #999; */
  position: relative;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#bathBuddah {
  /* font-family: "DFKai-SB", "STKaiti", "Impact"; */
  /* font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif; */

  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  font-size: 1.3rem;
  max-width: 100%;
  max-height: 100%;
  /* background:transparent url('/images/trans-bg.png') repeat center top; */

  /* background-color: #999; */
  position: relative;
  top: 0.7em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 20px
}
#boxed {
  border-radius: 35px;
  border: 10px solid #A42F16;
  width: 15em;
  padding: 15px;
  background-color:rgba(192,192,192,0.7);
  margin-bottom: 0.3em;
}

.btn {
    background-image: linear-gradient(to right, #C5FFFF 51%, #56DBFF 100%);
    /* background-image: url("scoop.png"); */

    border: 3px solid #fff;
    border-radius: 25px;
    color: #0091DB;
    width: 130px;
    height: 50px;
    text-align: center;
    font-family: cwTeXMing, serif;
    font-weight: 800;
    font-size: 1.5rem;
    outline:none;
  }
